body{
    font-family:NotoSansJP,Slack-Lato,appleLogo,sans-serif;
    font-size:90%;
    
}
#coluna_esquerda{
    height:100%;
    width:200px;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color:#3E313C;
    overflow-x: hidden;
    color:#A69DA5;
}
#margem_esquerda{
    margin-left:10px;
}
#status_do_usuario{
    display:flex;
    flex-direction: row;
    width:100%;
}
#Unifil_Comp{
    color:white;
   
}
#seta_Unifil_Comp{
    position: relative;
    font-size:15px;
    top:25px;
}
#notificação_imagem{
  position: relative;
  top:25px;
  left:25px;
  font-size:20px;
}
#usuario_ricardo{
    display:flex;
    flex-direction:row;
    margin-top:-8px;
    margin-bottom:5px;
}
#icone_lista_bola_verde_ricardo{
    position: relative;
    color:#99D04A;
    font-size:10px;
    top:5px;
    margin-right:3px;
}
ul{
    list-style-type:none;
}
#balao_fala{
    font-size:20px;
    margin-right:3px;
}
#all_threads{
    margin-top:10px; 
    display: flex;
    justify-content:left;
}
#salas{
   margin-left:-30px;
    list-style-type: none;
}

#mensagem_direta_salas{
    position:relative;
    top:5px;
    left:90px;
    font-size:20px;
}
#conversas_usuarios{
    
    margin-left:-30px;
    list-style-type:none;
}
#icone_lista_bola_verde{
    color:#99D04A;
    font-size:10px;
}
#icone_lista_coração{
    color:#99D04A;
    font-size:10px;
}
.margem_item_slackbot{
    margin-left:7px;
}
.margem_itens_usuarios{
    margin-left:7px;
    color:#7A6F79
}
#mensagem_direta_usuarios{
    position:relative;
    top:5px;
    left:45px;
    font-size:20px;
}
#icone_lista_bola_vazia{
    font-size:10px;
    
}
#apps{
    position: relative;
    top:30px;
}
#extender_apps{
    position:relative;
    left:160px;
    font-size:20px;
}
.icone_lista_jogo_da_velha{
    margin-left:5px;
}
.icone_lista_cadeado{
    margin-left:7px;
}
li{
    line-height:22px;
}


#lado_direito{
    margin-left:210px;
}
#elementos_canto_superior_esquerdo{
    line-height:0.5;
    margin-top:15px;
    width:30%;
}
#sala_npi{
    font-weight:bold;
    font-size:17px;
}
#informações_sala_npi{
    font-size:15px;
}
#extensão_lado_superior_direito{
    z-index: 1;
    top:0;
    left:0;
    overflow-x: hidden;
}
#elementos_canto_superior_direito{
    float:right;
    display:flex;
    flex-direction:row;
    margin-top:-35px;
    color:gray;
    height:0px;
}
#icones_cima_direita{
    font-size:22px;
    margin-right:10px;
}
#barra_de_pesquisa{
    padding:2px;
    border:1px solid gray;
    margin: 0;
    width:200px;
    border-radius:5px;
    margin-top:-7px;
    height:35px;
    margin-right:10px;
    display:flex;
    flex-direction:row;
}
#icone_lupa_barra_de_pesquisa{
    position: relative;
    top:5px;
    color:rgb(rgb(53, 43, 43), green, blue);
    font-size:17px;

}
#search_barra_de_pesquisa{
    position: relative;
    font-size:17px;
    color:#D0E1EC;
    top:3px;
    margin-left:5px;
}
#icones_cima_direita_arroba{
    position: relative;
    bottom:5px;
    font-size:20px;
    margin-right:10px;
}
#icones_cima_direita_estrela{
    position: relative;
    bottom:5px;
    font-size:300px;
    margin-right:10px;
}
.primeira_data_de_conversas{
    display:flex;
    flex-direction:row;
    margin-top:-15px;
    width:100%;
}
.quebra_tematica_dia1_esquerda{
    width:55%;
    margin-left:-200px;
}
.quebra_tematica_dia1_direita{
    width:48%;
}

.dia_quebra_tematica1{
    position:relative;
    top:8px;
    font-weight:bold;
}
.foto_do_usuario{
    width:45px;
    height:50px;

}
.identificação_do_usuario{
    display:flex;
    flex-direction:row;
    margin-right:5px;
    float:left;
}
.dados_de_identificação_do_usuario{
    width:100%;
}
.nome_do_usuario{
    font-weight:bold;
    float:left;
    margin-right:4px;
}
.horario_da_conversa{
    font-size:11px;
    position: relative;
    top:3px;
}
.conversa_do_usuario{
    position: relative;
    display:flex;
    justify-content:left;
    line-height:1.5;
    bottom:10px;
}
.frases_do_usuario{
    float:right;
    width:90%;
}
.frase_do_usuario{
    width:100%;
    float:left;
    line-height:1.1;
}
#marcar_todos_os_usuarios_do_server{
    background-color:#FFF6D1;
    font-weight:bold;
}
#site_staticGen{
    width:600px;
}
#barra_para_digitação{
    padding:2px;
    border:2px solid gray;
    margin: 0;
    border-radius:5px;
    width:95%;
    height:45px;
    margin-right:10px;
    display:flex;
    flex-direction:row;
    margin-left:15px;
}
#anexo_de_documentos{
    position: relative;
    font-size:30px;
    color:gray;
    left:8px;
}
#espaço_para_anexar_arquivos{
    position: relative;
    padding:2px;
    border:2px solid gray;
    margin: 0;
    border-radius:5px;
    height:45px;
    width:45px;
    margin-right:10px;
    display:flex;
    flex-direction:row;
    bottom:4px;
    right:4px;
}
#parte_direita_da_barra_de_pesquisa{
    position: relative;
    display:flex;
    flex-direction:row;
    left:880px;
    top:7px;
    color:#8B8B8D;
}
#Escreva_uma_mensagem{
    position: relative;
    top:7px;
    color:#BDBDBD;
    font-size:17px;
}
#emoji{
    font-size:20px;
}
